{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <title>PyConFr 2017 - Home</title>
    </head>
    <body>
        {% verbatim %}
        <div id="app" class="container">
          <hgroup>
            <h1 class="text-center">Propositions de conférences pour la PyconFr</h1>
            <p class="text-center">Première OnePageApp</p>
            <button class="btn btn-outline-success" v-on:click="createProposal">Ajouter une proposition</button>
          </hgroup>
          <hr/>
          <section class="row">
            <div class="card " style="margin: 1em;" v-for="proposal in proposals">
              <div class="card-header">
                <input class="form-control" placeholder="Ajouter un titre..." type="text" v-model="proposal.title" v-on:change="updateProposal(proposal.id, 'title', proposal.title)">
              </div>
              <div class="card-block">
                <textarea class="form-control" rows="5" placeholder="Ajouter du contenu..."  v-model="proposal.content" v-on:change="updateProposal(proposal.id, 'content', proposal.content)">{{ proposal.content }}</textarea>
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-danger" v-on:click="deleteProposal(proposal.id)">Supprimer</button>
              </div>
            </div>
          </section>
        </div>
        {% endverbatim %}
    </body>

    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{% static 'js/vue-resource-1.3.4.js' %}"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            proposals: [],
        },
        beforeMount: function(){
            this.$http.get('/proposals/').then(response => {
                this.proposals = response.body
            })
        },
        methods: {
            createProposal: function(){
                var option = {"Content-Type": "application/json"}
                var data = {"title": "", "content": ""}
                this.$http.post('/proposals/', JSON.stringify(data), option).then(response => {
                    this.$http.get('/proposals/').then(response => {
                        this.proposals = response.body
                    })
                })
            },
            updateProposal: function(id, field_name, field_value){
                var data = {}
                data[field_name] = field_value
                this.$http.put('/proposals/' + id + '/', JSON.stringify(data)).then(response => {
                    this.$http.get('/proposals/').then(response => {
                        this.proposals = response.body
                    })
                })
            },
            deleteProposal: function(id){
              this.$http.delete('/proposals/' + id + '/').then(response => {
                this.$http.get('/proposals/').then(response => {
                  this.proposals = response.body
                })
              })
            }
        }
    })
    </script>
</html>
